<div class="jumbotron">
	<div class="container">
		<h1>About</h1>
		<div class="col-xs-6">
			<p>It's basically like a Pinterest for Pandas!</p>
		</div>
		<div class="col-xs-6">
			<p>This is a test for the jumbotron text</p>
		</div>
	</div>
</div>

<h1 class="row">Meet the Team!</h1>

<div class="row text-center">
	<div class="col-xs-3">
	 <img src="http://goo.gl/OVCJRQ" class="img-circle" width="90%">
	 <h2>Bamboo, CEO PhD</h2>
	</div>

	<div class="col-xs-3">
		<img src="http://goo.gl/PlWQx" class="img-circle" width="90%">
		<h2>JoJo the Product Tester</h2>
	</div>

	<div class="col-xs-3">
		<img src="http://goo.gl/2d5ZRs" class="img-circle" width="90%">
		<h2>IT Department</h2>
	</div>

	<div class="col-xs-3">
		<img src="http://goo.gl/Pzjer9" class="img-circle" width="90%">
		<h2>Panda Recovery Team</h2>
	</div>

	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	</p>
</div>
